---
import { flypyAlphabetOuterWrapClass } from './flypy-classes'
import FlypyPinyinAlphabet from './FlypyPinyinAlphabet'
---

<div class={flypyAlphabetOuterWrapClass}>
  <FlypyPinyinAlphabet client:visible />
</div>
