---
import type { FlypyMnemonicKeyData } from './flypy-data'
import { flypyFinalLineClass, flypyFinalsClass } from './flypy-classes'

interface Props {
  finals: FlypyMnemonicKeyData['finals']
}

const { finals } = Astro.props
---

<div class={flypyFinalsClass()}>
  {
    finals.map(part => (
      <span class={flypyFinalLineClass(part.tone === 'green')}>{part.text}</span>
    ))
  }
</div>
